<h1>Active User</h1>
<pre>
  <code>
    <%=JSON.stringify(req.user)%>
  </code>
</pre>

<h1>API</h1>
<pre>
  <code>
    SignUp: POST /user {"username": "user", "password": "password", "email": "email@gmail.com"}
    SignIn: POST /login {"username": "user", "password": "password"}
    Logout: /logout
  </code>
</pre>
